@import '@radix-ui/colors/gray';
@import '@radix-ui/colors/gray-alpha';
@import '@radix-ui/colors/gray-dark';
@import '@radix-ui/colors/gray-dark-alpha';

@import '@radix-ui/colors/yellow';
@import '@radix-ui/colors/yellow-alpha';
@import '@radix-ui/colors/yellow-dark';
@import '@radix-ui/colors/yellow-dark-alpha';

@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='range'] {
	@apply cursor-pointer appearance-none border border-gray-6 bg-transparent;
}

input[type='range']::-webkit-slider-runnable-track {
	@apply h-2 rounded-lg bg-gray-12;
}

input[type='range']::-moz-range-track {
	@apply h-2 rounded-lg bg-gray-12;
}

input[type='range']::-webkit-slider-thumb {
	@apply bg-yellow-11;
}

input[type='range']::-moz-range-thumb {
	@apply bg-yellow-11;
}

/* main {
	background-color: #ffe629;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000000' stroke-width='66' stroke-opacity='0.05' %3E%3Ccircle fill='%23FFE629' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23f3da26' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23e8cf23' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23dcc321' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23d1b81e' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23c6ad1b' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23baa218' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23af9716' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23a48c13' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23988211' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%238d780e' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23826e0c' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%2377640a' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%236d5a08' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%23625006' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%23574704' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%234d3e03' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23433500' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
} */
