@import 'tailwindcss';

@import '@radix-ui/colors/gray';
@import '@radix-ui/colors/gray-alpha';
@import '@radix-ui/colors/gray-dark';
@import '@radix-ui/colors/gray-dark-alpha';

@import '@radix-ui/colors/yellow';
@import '@radix-ui/colors/yellow-alpha';
@import '@radix-ui/colors/yellow-dark';
@import '@radix-ui/colors/yellow-dark-alpha';

@theme {
	--shadow-xs: '0 0 0 1px';

	--color-gray-1: var(--gray-1);
	--color-gray-2: var(--gray-2);
	--color-gray-3: var(--gray-3);
	--color-gray-4: var(--gray-4);
	--color-gray-5: var(--gray-5);
	--color-gray-6: var(--gray-6);
	--color-gray-7: var(--gray-7);
	--color-gray-8: var(--gray-8);
	--color-gray-9: var(--gray-9);
	--color-gray-10: var(--gray-10);
	--color-gray-11: var(--gray-11);
	--color-gray-12: var(--gray-12);

	--color-grayA-1: var(--gray-a1);
	--color-grayA-2: var(--gray-a2);
	--color-grayA-3: var(--gray-a3);
	--color-grayA-4: var(--gray-a4);
	--color-grayA-5: var(--gray-a5);
	--color-grayA-6: var(--gray-a6);
	--color-grayA-7: var(--gray-a7);
	--color-grayA-8: var(--gray-a8);
	--color-grayA-9: var(--gray-a9);
	--color-grayA-10: var(--gray-a10);
	--color-grayA-11: var(--gray-a11);
	--color-grayA-12: var(--gray-a12);

	--color-yellow-1: var(--yellow-1);
	--color-yellow-2: var(--yellow-2);
	--color-yellow-3: var(--yellow-3);
	--color-yellow-4: var(--yellow-4);
	--color-yellow-5: var(--yellow-5);
	--color-yellow-6: var(--yellow-6);
	--color-yellow-7: var(--yellow-7);
	--color-yellow-8: var(--yellow-8);
	--color-yellow-9: var(--yellow-9);
	--color-yellow-10: var(--yellow-10);
	--color-yellow-11: var(--yellow-11);
	--color-yellow-12: var(--yellow-12);
	--color-yellow-surface: #231f1380;

	--color-yellowA-1: var(--yellow-a1);
	--color-yellowA-2: var(--yellow-a2);
	--color-yellowA-3: var(--yellow-a3);
	--color-yellowA-4: var(--yellow-a4);
	--color-yellowA-5: var(--yellow-a5);
	--color-yellowA-6: var(--yellow-a6);
	--color-yellowA-7: var(--yellow-a7);
	--color-yellowA-8: var(--yellow-a8);
	--color-yellowA-9: var(--yellow-a9);
	--color-yellowA-10: var(--yellow-a10);
	--color-yellowA-11: var(--yellow-a11);
	--color-yellowA-12: var(--yellow-a12);
}
