@import '@radix-ui/colors/gray';
@import '@radix-ui/colors/gray-alpha';
@import '@radix-ui/colors/gray-dark';
@import '@radix-ui/colors/gray-dark-alpha';

@import '@radix-ui/colors/yellow';
@import '@radix-ui/colors/yellow-alpha';
@import '@radix-ui/colors/yellow-dark';
@import '@radix-ui/colors/yellow-dark-alpha';

@import '@radix-ui/colors/red';
@import '@radix-ui/colors/red-alpha';
@import '@radix-ui/colors/red-dark';
@import '@radix-ui/colors/red-dark-alpha';

@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='range'] {
	@apply cursor-pointer appearance-none border border-gray-6 bg-transparent;
}

input[type='range']::-webkit-slider-runnable-track {
	@apply h-2 rounded-lg bg-gray-12;
}

input[type='range']::-moz-range-track {
	@apply h-2 rounded-lg bg-gray-12;
}

input[type='range']::-webkit-slider-thumb {
	@apply bg-yellow-11;
}

input[type='range']::-moz-range-thumb {
	@apply bg-yellow-11;
}

@layer components {
	.triggerClass {
		@apply text-left font-semibold capitalize hover:text-yellow-12;
	}
}

@layer utilities {
	/* Hide scrollbar for Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}
	/* Hide scrollbar for IE, Edge and Firefox */
	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
}
